@page "/counter"

<style>
    .title-colored {
        color: deepskyblue;
    }
</style>

<PageTitle Title="Treebook - Counter page" />

<h1 class="title-colored">Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
